<div style="padding-top: 100px">
  <div class="container" style="display: flex; flex-direction: row">
    <div class="container" style="display: flex; flex-direction: column">
      <h1 style="font-size: 60px">Nombre</h1>
      <p>Detalle</p>
    </div>
    <div class="container" style="display: flex; flex-direction: column">
      <h1>Organizadores</h1>
      <div
        class="row"
        style="height: 400px; overflow: scroll; margin-top: 50px"
      >
        <div class="card">
          <p>Nombre</p>
          <p>Telefono</p>
          <p>Correo</p>
        </div>
        <div class="card">
          <p>Nombre</p>
          <p>Telefono</p>
          <p>Correo</p>
        </div>
        <div class="card">
          <p>Nombre</p>
          <p>Telefono</p>
          <p>Correo</p>
        </div>
        <div class="card">
          <p>Nombre</p>
          <p>Telefono</p>
          <p>Correo</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="width: 100vw">
    <img src="../../../assets/images/evento-hover.jpg" alt="" />
    <img src="../../../assets/images/evento-hover.jpg" alt="" />
    <img src="../../../assets/images/evento-hover.jpg" alt="" />
    <img src="../../../assets/images/evento-hover.jpg" alt="" />
    <img src="../../../assets/images/evento-hover.jpg" alt="" />
    <img src="../../../assets/images/evento-hover.jpg" alt="" />
  </div>
  <div class="row" style="width: 100vw">
    <div style="overflow: hidden !important; max-width: 800px">
      <video [autoplay]="true" [loop]="true" [muted]="true">
        <source src="../../../assets/videos/fondo.mp4" type="video/mp4" />
      </video>
    </div>

    <div style="overflow: hidden !important; width: 40vw"></div>
  </div>
</div>
